{% extends 'base.html' %}

{% block title %}
    {% if idStage %}    
        {{idStage.username}}        
    {% endif %}
{% endblock%}

{% block content %}
    <div class="details-stage - mov">
        <h3 class="text-success">Information pour le stagiaire: </h3>
        <div class="row">
            
            <div class="col-md-6">                
                {% if idStage %}
                     <form action="{% url 'notestage' %}" method="POST" >{% csrf_token %}
                        
                    <label for="nom">Pseudo:</label><input class="form-control" type="text" value="{{idStage.username|upper}}" disabled>
                    <label for="nom">Nom:</label><input class="form-control" type="text" value="{{idStage.first_name|upper}}" disabled>
                    <label for="nom">Prenom:</label><input class="form-control" type="text" value="{{idStage.last_name|upper}}" disabled>
                    <label for="nom">E-mail:</label><input class="form-control" type="text" value="{{idStage.email|upper}}" disabled>
            
                    {%if demande_id %}
            <input type="hidden" name="idStage" value="{{demande_id.id}}">
            <label for="nom">Projet</label><input class="form-control" type="text" value="{{demande_id.projet|upper}}" disabled>
            <label for="nom">Lettre de motivation</label><br>
            <textarea class="form-control" name="" id="" cols="30" rows="10" disabled>{{demande_id.lettre_de_motivation|upper}}</textarea>
            {%endif %}
<br>
            <span>Les directions existent : </span>
            <select class="form-control" name="direct" id="">
                {% for directions in directions %}
                <option value="{{directions.titre}}">{{directions.titre}}</option>
                {% endfor %}
            </select>
            <label for="" class="btn btn-success"><input type="radio" name="obs" id="" value="1"> validé </label>
            <label for="" class="btn btn-danger "><input type="radio" name="obs" id="" value="0">rejeté </label><br>
            <button class="btn btn-warning form-control login-input ">ENVOYE</button>            
        </form>
            
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if complete_id %}
                <label for="nom">Date de naissance:</label><input class="form-control" type="text" value="{{complete_id.date_de_naissance|upper}}" disabled>
                <label for="nom">Filiere:</label><input class="form-control" type="text" value="{{complete_id.filiere|upper}}" disabled>
                <label for="nom">Telephone:</label><input class="form-control" type="text" value="{{complete_id.telephone|upper}}" disabled>
                <label for="nom">Ecole:</label><input class="form-control" type="text" value="{{complete_id.ecole|upper}}" disabled>
                {% endif %}
            </div>
        </div>
        
    </div>
{%endblock%}