{% extends 'base.html' %}

{%block title %} Gestionnaire d'Administration {%endblock %}

{%block content %}
<div class="blog-admin">
    <table class="table">
        <thead class="bg-warning ">
          <tr>
            <th scope="col">Projet</th>
            <th scope="col">Fichier</th>
            <th scope="col">Observation</th>
            <th scope="col">Tâche à Faire</th>
          </tr>          
        </thead>
        {% for stageDemande in list_users %}            
            <tr>
                <td scope="col">{{stageDemande.projet}}</td>
                <td scope="col"><a class="btn btn-warning" href="/blog/media/fichier-stage/{{stageDemande.fichier}}">CV</a></td>
                <td scope="col">{% if stageDemande.observation == '' %}<span>aucune reponse</span>{%else%}
                  {% if stageDemande.observation == '1' %}
                      <span class="text-success">validé</span>
                      {% else %}
                          <span style="color:red">rejeté</span>
                          {%endif%}                                        
          {%endif%}</td>
                <td scope="col">
                    <a class="btn btn-primary"  href="detailStage/{{stageDemande.id_user}}">details de demande</a>
                    <a class="btn btn-success"  href="voirDemandeStage/{{stageDemande.id}}">Analyse de dossiers</a>
                </td>
            </tr>
            
        {% endfor %}

        <tbody>
          
      </table>

      <!-- Button trigger modal -->


</div>


{%endblock %}