{%  extends 'base.html' %}

{% block title %} Bienvenue - {{user}} {% endblock %}

{% block content %}
<div id="resultat">

</div>
<div class="demande-stage">

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success form-control dem-stage login-input">Demande de stage</button>
            <div class="demande-de-stage">
                        <form  enctype="multipart/form-data" method="POST" action ="{% url 'demandestage' %}">  {% csrf_token %}
                             <input type="hidden" name="user_id" value="{{user.id}}">
                                {{demandestage}}                        

                        <button class=" btn btn-primary login-input btn_envoye" type="submit">envoyé</button>
                </form>
            </div>
            
        </div>        
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success form-control notification-stage login-input">Notification</button>
            <div class="notification-stage-active">
                <table class="table">
                    <tr class="bg-primary text-white">
                        <th>projet</th>
                        <th>date d'envoye</th>
                        <th>observation</th>
                    </tr>                   
                        {% for stage in  stagiaires%}
                            {% if stage.user_id == user.id %}                         
                                <tr>                   
                                    <td>{{stage.projet}}</td>
                                    <td>{{stage.dates}}</td>
                                    <td>{% if stage.observation == '' %}<span>aucune reponse</span>{%else%}{{stage.observation}} {%endif%}</td>                                    
                                </tr>
                            {%endif%}
                        {%endfor%}                        
                    
                    
                </table>
            </div>
        </div>        

    </div>
</div>


<script>
    {% comment %} document.querySelector(".btn_envoye").addEventListener('click', event=>{
        event.preventDefault();
        var formData = new FormData();

        
        var user_id = document.querySelector('[name=user_id]').value
    
        var projet = document.querySelector('#id_projet').value
        var lettre_de_motivation = document.querySelector('#id_lettre_de_motivation').value
        var filename = document.querySelector('#id_fichier').files[0].name        

        formData.append('user_id',user_id)
        formData.append('projet',projet)
        formData.append('lettre_de_motivation', lettre_de_motivation)
        formData.append('filename', filename)

        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;

        
        
        const request = new Request('{% url  'demandestage' %}',{
            method:'POST',
            body: formData,
            headers : {"X-CSRFToken":csrfTokenValue}
        }) 
        
        

        fetch(request)
        .then(response=>response.json())
        .then(result=>{
            const resultElement = document.querySelector("#resultat")
            resultElement.innerHTML = result['result']

        })       


        
    }) {% endcomment %}
</script>
{% endblock %}