{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src="{% static 'logo/logo.png' %}"
            height="150"
            alt="{% static 'logo/logo.png' %}"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">DGI</a>
          </li>         
        </ul>
        <!-- Left links -->
      </div>     
          

        {% if user.is_authenticated %}
        <div class="stage-compte">
            {% if user.is_superuser == False %}
              <div class="stage-compte-stagiaire">
                <span>{{user.email}}</span>
              </div>
            {% else %}
            <div class="stage-compte-admin">
                
            </div>
            {% endif %}
        </div>
          <a class="btn btn-success" href="{% url 'logoutstage'  %}"><span>deconnexion</span></a>
        {%endif %}
      </div>

      <!-- Right elements -->
      
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
{% if user.is_authenticated %}
{% else %}
<div class="container">
  <div class="breadcrumb-stage">
    <a href="{% url 'loginstage' %}" class="text-warning">Identification</a> <span class="text-default">|</span> <a class="text-warning" href="{% url 'inscriptionstage' %}">Demande Stage</a>
  </div>
</div>
{% endif %}
  